@import url(http://fonts.googleapis.com/css?family=Marcellus);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:700italic);

body {
	margin-top: 50px;
}

.logo {
	font-family: 'Optima', 'Marcellus';
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 0px;
	font-size: 20px;
}

h1.logo {
	font-size: 50px;
	margin-bottom: 1em;
	letter-spacing: 5px;
}

.logo > span {
	font-size: 0.7em;
}

.show {
	background-color: #000;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
	-moz-box-shadow:    0px 5px 8px 3px #ccc;
	-webkit-box-shadow: 0px 5px 8px 3px #ccc;
	box-shadow: 		0px 5px 8px 3px #ccc;

}

.separator {
	border-bottom: 1px;
	border-color: #ccc;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding-bottom: 20px;
}

.limit {
	max-height: 300px;
	max-width: 1000px;
}


img.scaled {
	max-width: 95%;
	max-height: 95%;
}

h1.quote {
	font-family: 'Noto Serif', Serif;
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	background-color: #9c9c9c;
  	color: transparent;
  	text-shadow: 0px 2px 4px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
	color: transparent;
	max-width: 70%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
}

h1.quote-white {
	font-family: 'Noto Serif', Serif;
	font-style: italic;
	font-weight: bold;
	height: 100%;
	font-size: 40px;
	text-align: center;
	color: #fff;
	/*background-color: rgba(255,255,255,0.5);*/
	text-shadow: 0px 1px 4px rgba(0,0,0,0.5);
	margin-top: 4em;
	margin-bottom: auto;
}

h1.quote > span.autor{
	display: block;
	font-size: 30px;
	font-style: normal;
	text-align: right;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.content {
	
	vertical-align: middle;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 50px;
	padding-right: 50px;
	color: #5c5c5c;
	font-size: 20px;

}

p > .scroll {
	font-size: 70%;
}

.center-x{ text-align:center;}
.center-y{vertical-align:middle;}

h1{
	font-size: 50px;
	margin-bottom: 1em;

	
}

.pic {
	background: white;
	margin: 3em 3em 3em 3em;
	padding: 10px 10px 10px 10px;
	-moz-box-shadow:    0px 0px 8px 3px #ccc;
	-webkit-box-shadow: 0px 0px 8px 3px #ccc;
	box-shadow: 		0px 0px 8px 3px #ccc;
	max-width: 90%;
	max-height: 90%;
	

} 

@media (max-width: 768px){
	.pic {
		margin: 15px 1px 1px 1px;
		padding: 2px 2px 2px 2px;
		max-height: 100px;
		max-width: 100px;

	}

	.footer-list > li {

		padding-right: 25px;
		padding-left: 0;
	}

	.footer-logo {
	display: block;
}
}



.rigth {
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}

.left {
	-webkit-transform: rotate(-4deg);  
	-moz-transform: rotate(-4deg); 
	transform: rotate(-4deg); 
}

.large {
	max-width: 90%;
	max-height: 90%;
}

.medium {
	max-width: 70%;
	max-height: 70%;
}

.small {
	max-width: 30%;
	max-height: 30%;
}

.deco{
	display: inline;
}

.ico {
	text-align: center;
}

.light {
	color: rgba(255,255,255,0.8);
}

.dark{
	color: #9c9c9c;
}

a.dark :hover {
	color: #9c9c9c;
}

.navbar {
	z-index: 5;
	background-color: rgba(255,255,255,0.9);
	-moz-box-shadow:    0px 0px 2px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
	box-shadow: 		0px 0px 2px 1px rgba(0,0,0,0.1);

}

.blur {
	position: fixed;
	left: 0;
	top: 0;
	-webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
    background-color: white;
    height: 50px;
    width: 100%
    z-index: 4;
  
}

.modal-body {
	height: 100%;
	width: 100%;
	 background: url(../../img/slide1.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





@media (min-width: 768px) { 
	.ico { 
		text-align: center;
		}
	#facebook {
		color: '#3B5998'
	}
	#twitter {
		color: '#4099FF'
	}
	#instagram {
		color: '#675144'
	}
	#pinterest {
		color: '#CB2027'
	}

}

/*=================== Galerias ==========================*/

/*------ General ------*/

#gallery {
	display: block;
}

.desc {
	-moz-box-shadow:    0px 0px 2px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
	box-shadow: 		0px 0px 2px 1px rgba(0,0,0,0.5);
}

.desc h1 {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.desc p {
	font-size: 20px;
	text-align: justify;
	padding-bottom: 25px;
}

#gallery {
	height: 100%;
	text-align: justify;

}

#gallery div {
	width: 500px;
	height: 100%;
	display: inline;
	margin-bottom: 20px;

}

#gallery:after {
	content: '';
	width: 100%;
	display: inline-block;
}



.bg-bodas {
	background: url(../img/galeria-bodas/bodas-header.jpg) no-repeat center center;
	position: fixed;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg-familias {
	background: url(../img/galeria-bodas/familias-header.jpg) no-repeat center center;
	position: fixed;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg-modelos {
	background: url(../img/galeria-modelos/modelos-header.jpg) no-repeat center center;
	position: fixed;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg-publicitaria {
	background: url(../img/galeria-publicitaria/publicitaria-header.jpg) no-repeat center center;
	position: fixed;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg-artistica {
	background: url(../img/galeria-artistica/artistica-header.jpg) no-repeat center center;
	position: fixed;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.bg-budoir {
	background: url(../img/galeria-budoir/budoir-header.jpg) no-repeat center center;
	position: fixed;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.jumbotron {
	margin-bottom: 0px;
	height: 500px;
	
	background: transparent;
	
}

@media (max-width: 768px) {
	
	.bg-bodas {
		height: 250px;
	}

	.jumbotron {
		height: 250px;
	}

	h1.quote-white {
		font-size: 30px;
		margin-top: 4rem;

	}
	
}

/*------ Bodas ------*/

.color-bodas {
	background-color: #e7e2b3;
	
}
.color-bodas .container{
	color: #968D3A;
}
 
/*------ Familia------*/

.color-familia {
	background-color: #ac2c57;
	
}
.color-familia .container{
	color: #fff;
}

/*------ Publicitaria ------*/

.color-publicitaria {
	background-color: #CFFD73;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	
}
.color-publicitaria .container{
	color: #6DA301;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

h1.recuadro {
	background-color: rgba(0,0,0,0, 0,4);
}
/*------ Modelos ------*/

.color-modelos {
	background-color: #675AF1;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

	
}
.color-modelos .container{
	color: #b7b1ef;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

}
/*------ Artistica ------*/

.color-artistica {
	background-color: #32C8C2;
	
}
.color-artistica .container{
	color: #005E5B;
}
/*------ Budoir ------*/

.color-budoir {
	background-color: #9B0B00;
	
}
.color-budoir .container{
	color: #000;
}


/*=================== /Galerias ==========================*/

.footer-bar {
	max-height: 500px;
	/*height: 100px;*/
	width: 100%;
	padding-top: 25px;
	background-color: #4c4c4c;
}

.footer-content {

}

.footer-list {
	display: inline;

}

.footer-list > li {
	display: inline;
	padding-right: 25px;
}

.footer-logo {
	display: inline;
}

.service-bar {
	margin-bottom: 0;
}



